<%- include(metaconfig.paths.layouts.start); %>
<main id="home">
  <div class="intro">
    <img class="personal-pic" src="<%= home.photo %>" />
    <div class="info">
      <p>Hello, I'm</p>
      <p id="name"><%= profile.name %></h1>
      <p><%= profile.role %></p>
    </div>
    <!-- TODO: maybe get a list of strings that represents my self description --!>
  </div>

  <div class="description">
    <p>Software engineer</p>
  </div>
</main>
<%- include(metaconfig.paths.layouts.end); %>
