<%- include(metaconfig.paths.layouts.start); %>
<main id="post">
  <div class="header">
    <h1 class="title"><%- posts[blogPostIndex].title.name %></h1>
    <p class="created-at">Hícaro Dânrlley — <%- posts[blogPostIndex].createdAt %></p>
  </div>
  <%- posts[blogPostIndex].content %>
</main>
<%- include(metaconfig.paths.layouts.footer); %>
<%- include(metaconfig.paths.layouts.end); %>
