<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% metaconfig.paths.css.forEach(function(path){ -%>
      <link rel="stylesheet" href="<%= path %>" type="text/css" media="all" />
    <% }); -%>
    <link rel="shortcut icon" href="<%= site.favicon %>" type="image/x-icon">
    <title><%= site.title %></title>
    <% metaconfig.paths.js.forEach(function(path){ -%>
      <script src="<%= path %>" defer></script>
    <% }); -%>

    <!-- https://highlightjs.org/ for syntax highlighting -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/vs2015.css">
    <script>hljs.highlightAll()</script>
  </head>
  <body>
    <%- include(metaconfig.paths.layouts.topbar); %>
