<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% metaconfig.paths.css.forEach(function(path){ -%>
      <link rel="stylesheet" href="<%= path %>" type="text/css" media="all" />
    <% }); -%>
    <link rel="shortcut icon" href="<%= site.favicon %>" type="image/x-icon">
    <title><%= site.title %></title>
    <% metaconfig.paths.js.forEach(function(path){ -%>
      <script src="<%= path %>" defer></script>
    <% }); -%>
  </head>
  <body>
    <%- include(metaconfig.paths.layouts.topbar); %>
